@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,100;1,400&display=swap');
:root {
  --mr-color-body: #f4f4f4;
  --mr-color-font: #fff;
  --mr-color-bc: rgb(34, 193, 195);
  --mr-background-footer:#000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  width: 100%;
  display: block;
}

body {
  height: 100vh;
  background-color: var(--mr-color-body);
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
nav {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 10p;
}

li {
  list-style: none;
  
}

/*-------   ------  */

.mr-hamburguer,
.mr-hamburguer-icon {
  display: none;
}

.mr-section-header-layout {
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.mr-section-header-nav {
  gap: 1.5rem;
}

.mr-layout-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mr-section-header-layout {
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
}

.mr-section-header--nav-link {
  display: flex;
  flex-direction: column;
  color: grey;
}

.mr-section-header--nav-link::after {
  content: "";
  display: block;
  height: 3px;
  background-color: black;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform 0.55s;
}

.mr-section-header--nav-link:hover::after {
  transform: scale(1, 1);
}

.mr-header-btn,
.contact,
.sign {
  display: inline-block;
  color: grey;
}

.sign {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  color: grey;
  transition: background-color 1.5s ease;
}


.sign:hover {
  background-color: burlywood;
  color: white;
}

/*MAIN*/


.filtersProducts {
  display: flex;
  padding-top: 130px;
  padding-left: 20px;
  flex-direction: column;
  row-gap: 10px;
}


.priceFilter {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.priceFilter input {
  width: 60%;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.priceFilter button {
  width: 35%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

#sellerSelect {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
}
.resetFilters {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.search_inp {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.mainProducts {
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 40px;
  min-height: calc(100vh - 260px);
}

.productsSection {
  width: 100%;
}

#products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  padding-bottom: 100px;
  cursor: pointer;
  position: relative;
}


#products h3{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:30px;
  transform: translate(-50%, -50%);



}



.div_product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 250px;
  gap: 8px;
  border-radius: 35px;
  padding: 10px;
  transition: box-shadow 0.5s ease;
}

.img_wrap {
  width: 100%;
  height: auto;
  position: relative;
}

.text_kind{
  position: absolute;
  top: 10px;
  left: 10px;
  display: none;
}
.price{
  color: red;
  font-weight: bold;
}
.img_product {
  height: 210px;
  width: 210px;
  object-fit: contain;
}

.div_product:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
  

}

.div_product:hover .text_kind {
  display: block;
}



.descript_product {
  font-size: 0.75em;
  letter-spacing: 1px;
  display: -webkit-box;
  max-width: 100%;
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title_name {
  margin-bottom: 0.75rem;
}

h4 {
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: 2px;
  text-overflow: ellipsis;
}

/* FOOTER*/

.contacto {
  display: block;
  background-color: var(--mr-background-footer);
}

footer li{
  color: gray;
  font-size: .8125rem;
}

.contacto h3 {
  margin: 10px 0;
  font-size: 1.1em;
  font-weight: 700;
}

.contacto ul {
  padding-left: 0;
}

.container-footer {
  padding: 0;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  gap: 20px;
}
.footer-nav li {
  margin: 6px 0;
}

.footer-nav-col,
.navOne {
  margin: 0 15px;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.social-list {
  display: flex;
  gap: 0.75rem;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}
.social-list li {
  cursor: pointer;
}

#btn-faqs{
  margin-left: 17px
}

@media screen and (max-width: 48rem) {
  .mr-section-header-layout {
    flex-direction: column;
    font-style: normal;
  }

  .mr-hamburguer-icon {
    display: inline-block;
    padding: 0.6rem;
  }

  .mr-section-nav {
    display: none;
  }

  .mr-sign-container {
    display: none;
  }

  .mr-hamburguer:checked ~ .mr-section-nav {
    display: block;
    padding: 1.5rem 0;
  }

  .mr-hamburguer:checked ~ .mr-sign-container {
    display: block;
    padding: 1.5rem 0;
  }

  .mr-section-header-nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 48rem) {
  .mainProducts {
    display: block;
  }

  .filtersProducts {
    padding: 10px 25px 10px 25px;
  }
}

@media screen and (max-width: 48rem) {
  #products {
    justify-content: center;
  }

  #products h3{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:10px;
    transform: translate(-50%, -50%);
  
  
  
  }
}
